<form [formGroup]="formCadastro" class="mat-elevation-z2">
    <mat-card>
        <mat-card-title>Cadastro</mat-card-title>
        <mat-card-content>
            <h3>Dados Pessoais</h3>
            <div class="container-flex space-around">
                <mat-form-field appearance="outline" class="col-20">
                    <mat-label>CPF</mat-label>
                    <input matInput placeholder="Informar o CPF" formControlName="cpf" mask="000.000.000-00"
                           #cpf>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-60">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Informar o NOME" formControlName="nome">
                </mat-form-field>
            </div>

            <h3>Endereço</h3>
            <div formGroupName="endereco">
                <div class="container-flex space-around">
                    <mat-form-field appearance="outline" class="col-20">
                        <mat-label>CEP</mat-label>
                        <input matInput placeholder="Informar o CPF" formControlName="cep" mask="00.000-000">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-20">
                        <mat-label>Número</mat-label>
                        <input matInput placeholder="Informar o NUMERO" formControlName="numero">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-20">
                        <mat-label>Logradouro</mat-label>
                        <input matInput placeholder="Informar o LOGRADOURO" formControlName="logradouro">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-45">
                        <mat-label>Logradouro</mat-label>
                        <input matInput placeholder="Informar o LOGRADOURO" formControlName="logradouro">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-45">
                        <mat-label>Complemento</mat-label>
                        <input matInput placeholder="Informar o COMPLEMENTO" formControlName="complemento">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-20">
                        <mat-label>Bairro</mat-label>
                        <input matInput placeholder="Informar o Bairro" formControlName="bairro">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-20">
                        <mat-label>Localidade</mat-label>
                        <input matInput placeholder="Informar a Localidade" formControlName="localidade">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-20">
                        <mat-label>UF</mat-label>
                        <input matInput placeholder="Informar a UF" formControlName="uf">
                    </mat-form-field>
                </div>
            </div>

            <h3>Telefones</h3>
            <div formArrayName="telefones">
                <div *ngFor="let telefone of telefones.controls; let i=index" class="container-flex space-around">
                    <div [formGroup]="getForm( telefone )">
                        <mat-form-field appearance="outline" class="col-20">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="tipoTelefone" >
                                <mat-option *ngFor="let tipo of tipoTelefones" [value]="tipo">
                                    {{tipo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-20">
                            <mat-label>Telefone</mat-label>
                            <input matInput placeholder="Informar o CPF" formControlName="telefone" [mask]="'(00) 00000-0000'">
                        </mat-form-field>
                        <mat-checkbox formControlName="isPrincipal">Principal</mat-checkbox>

                        <button mat-icon-button color="primary">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>


        </mat-card-content>
        <mat-card-actions>
            <div class="align-right">
                <button mat-raised-button color="primary" [disabled]="blocked">
                    <mat-icon>save</mat-icon>Salvar
                </button>
                <button mat-raised-button color="primary">
                    <mat-icon>back_history</mat-icon>Voltar
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>
