<div class="col-30" style="background-color: aqua; width: 30%; margin: auto">
    <mat-card class="mat-elevation-z5">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <div class="container-flex space-around">
                <mat-form-field appearance="outline" class="col-100">
                    <mat-label>Usuario</mat-label>
                    <input matInput [(ngModel)]="user">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-100">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" [(ngModel)]="password">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" style="width: 100%" (click)="login()">
                OK
            </button>
        </mat-card-actions>
    </mat-card>
</div>
