

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-flex {
  display: flex;
  flex: 1;
}

.center-flex {
  justify-content: center;
}

.space-around {
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
}

mat-form-field {
  margin-right: 2px;
  margin-left: 2px;
}

.col-100 {
  min-width: 100%;
}

.col-90 {
  min-width: 90%;
}

.col-80 {
  min-width: 80%;
}

.col-70 {
  min-width: 70%;
}

.col-60 {
  min-width: 60%;
}

.col-50 {
  min-width: 50%;
}

.col-45 {
  min-width: 45%;
}

.col-40 {
  min-width: 40%;
}

.col-30 {
  min-width: 30%;
}

.col-20 {
  min-width: 20%;
}

.col-10 {
  min-width: 10%;
}

.align-right {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}
